@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.Drawer {
  button {
    color: rgb(119, 221, 255);
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;

  }
  ul {
    a {
      color: rgb(119, 221, 255);
      align-items: center;
      font-size: 1em;
    }
  }
  
  div{ 
    padding: 5px;
    background-color: gray;
  }
  h2 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: -6px;
    margin-bottom: -3px;

  }
  
}

div {
  color: rgb(119, 221, 255);
  align-items: center;
}






