.Header {
  color: lightblue;
  height: 70px;
  background-color: rgb(22, 21, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0px;
    text-align: center;
  }
}

body {
  overflow: hidden;
}