.Header {
  color: steelblue;
  height: 50px;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0px;
    text-align: center;
  }
}