body{
  background-color: rgba(73, 73, 73, 0.87);
}

.AboutUs {
  color: rgb(119, 221, 255);
  display: flex;
  justify-content: center;
  text-align: center;
    h1 {
      text-align: center;
      align-items: center;
    }
}
  


